.center{
  border-radius:50%;
  height:5rem;
  width:5rem;
  cursor: pointer;
}

.image{
  border-radius:50%;
  height:3rem;
  width:3rem;
  position: absolute;
  cursor: pointer;
}

p{
  font-size: 1rem
}
